:root {
    --primary: rgb(89, 162, 207);
    --primary2: #235d81;
    --complementary: #c2e7ffff;
    --white: #3C3C3C;
    --white2: #2a2b2b;
    --gray: #e1e4e5;
    --gray2: #dbdbdb;
    --gray3: #b9b6b6;
    --black: #323333;
    --black2: #2a2b2b;
    --background-color: #f5f5f5f1;
    --slider-color: #faeab3;
    --toggle-color: #f1c634;
    --transition-time: 0.7s;
    --slider-width: 72px;
    --slider-height: calc(var(--slider-width) / 2);
    --toggle-scale: 1.3;
    --toggle-width: calc(var(--slider-height) / var(--toggle-scale));
    --toogle-height: var(--toggle-width);
    --icon-width: calc(var(--toggle-width) / var(--toggle-scale));
    --icon-height: var(--icon-width);
}

html {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    height: 100%;
}

body {
    min-height: 100vh;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    transition: var(--transition-time);
}

header {
    nav {
        display: flex;
        align-items: center;
        justify-content: right;
        user-select: none;

        .nav-link {
            display: inline-block;
            font-size: 0.67rem;
            font-weight: 450;
            color: var(--white);
            text-decoration: none;
            margin: 20px 7px;
        }

        a:hover {
            text-decoration: underline;
        }

        .nav-image {
            margin: 0;
            padding: 9px;
            border-radius: 50%;
            width: 1.5rem;
            transition: background-color 0.25s ease;
            fill:var(--white)
        }

        .nav-image:hover {
            background-color: var(--gray3);
        }

        #profile-picture {
            width: 1.75rem;
            padding: 3px;
            margin: 0 15px 0 0;
        }
    }
}

.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}

#logo {
    height: 200px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
    color: var(--white);
    font-size: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 0 40px;
}

#search-bar {
    --search-box-height: 45px;
    width: 550px;
    height: var(--search-box-height);
    border-radius: calc(0.5* var(--search-box-height));
    padding: 0 80px 0 50px;
    font-size: 0.8rem;
    border: none;
    box-shadow: 2px 2px 5px;
}

#search-bar:focus,
#search-bar:active {
    outline: none;
    border: none;
    box-shadow: none;
}

#search-bar::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

#search-button {
    position: absolute;
    transform: translateX(17px);
    margin: 11px 0;
    width: 1.1rem;
}

#mic {
    position: absolute;
    transform: translateX(-75px);
    margin: 11px 0;
}

#camera {
    position: absolute;
    transform: translateX(-40px);
    margin: 10px 0;
}

.recent-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 650px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 10px;
    a{
        text-decoration: none;
    }
    .tab {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--white);
        font-size: 0.7rem;
        font-weight: 300;
        width: 120px;
        height: 120px;
        user-select: none;
        border-radius: 10px;
        transition: background-color 0.25s ease;

        .image-container {
            display: flex;
            align-items: center;
            justify-content: center;
            background: var(--gray3);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            transition: transform 0.25s ease;

            .white-background-icon {
                background: var(--white);
                border-radius: 20%;
            }
        }

        img {
            width: 25px;
        }

        p {
            margin: 15px 0 0 0;
            user-select: none;
        }

        #add-shortcut {
            background-color: var(--primary);
        }
    }

    .tab:hover {
        background-color: var(--gray2);
        cursor: pointer;

        .image-container {
            transform: scale(1.2);
        }
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;

    #input-slider {
        display: none;
    }

    .slider {
        position: relative;
        margin: 0 25px 25px 0;
        width: var(--slider-width);
        height: var(--slider-height);
        background-color: var(--slider-color);
        border-radius: calc(0.5 * var(--slider-height));
        transition: var(--transition-time);
        user-select: none;
        box-shadow: 3px 3px 5px;
    }

    .toggle {
        cursor: pointer;
        position: absolute;
        width: var(--toggle-width);
        height: var(--toogle-height);
        background: var(--toggle-color);
        border-radius: 50%;
        top: calc((var(--slider-height) / 2) - (var(--toogle-height) / 2));
        left: calc((var(--slider-width) / 4) - (var(--toggle-width) / 2));
        user-select: none;
        box-shadow: 2px 2px 4px;
        transition: var(--transition-time);
        z-index: 1;
    }

    #dark-mode {
        position: absolute;
        width: var(--icon-width);
        height: var(--icon-height);
        top: calc((var(--slider-height) / 2) - (var(--icon-height) / 2));
        left: calc((var(--slider-width) / 4) - (var(--icon-width) / 2));
        user-select: none;
        fill: #f5f5f5f1;
    }

    #light-mode {
        position: absolute;
        width: var(--icon-width);
        top: calc((var(--slider-height) / 2) - (var(--icon-height) / 2));
        right: calc((var(--slider-width) / 4) - (var(--icon-width) / 2));
        user-select: none;
        fill: #3C3C3C;
    }

    #input-slider:checked+.toggle {
        transform: translateX(calc(var(--slider-width) / 2));
    }
}

:root:has(#input-slider:checked) {
    --primary: #004a77ff;
    --background-color: #3C3C3C;
    --slider-color: #004a77ff;
    --toggle-color: #2eb3f0;
    --white: #f5f9fa;
    --white2: #ebf3f5;
    --gray2: #585858;
    --gray3: #4b4c4d;
}

@media screen and (min-width: 500px) and (max-width: 700px) {
    #search-bar {
        width: 450px;
    }
}

@media screen and (max-width: 500px) and (min-width: 350px) {
    #search-bar {
        width: 350px;
    }
}

@media screen and (max-width: 350px) {
    #search-bar {
        width: 300px;
    }
}
